body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

.titulo {
    text-align: center;
}

.contenedor {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.tarjeta {
    background-color: white;
    width: 250px;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.tarjeta:hover {
    transform: scale(1.05);
}

.tarjeta img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 15px;
}

.tarjeta h3 {
    margin-top: 15px;
    font-size: 20px;
}

.link-tarjeta {
    text-decoration: none;
    color: black;
}